# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-selfcheck.json

# Docker
.dockerignore
docker-compose.override.yml

# Environment
.env
.venv

# IDE
.idea/
.vscode/

# Other
*.sqlite3
instance/
postgres_data/
.DS_Store
